{% extends 'base.html' %}
{% block content %}
<div class="main-index">
<h1 class="title">Приветствуем вас на сайте на сайте WebUtilits.ru</h1>
<p>Сайт основан в учебных началах и возможно будет развиваться дальше, в качестве портфолио написанных мною веб утилит и не только.</p>
<p>На текщий момент доступны следующие инструменты:</p>
<ul>
  <li><a href="{% url 'filesharing:index' %}">Файлообменник</a></li>
  <li><a href="{% url 'shorturl:index' %}">Сокращение ссылок</a></li>
  <li><a href="{% url 'privatenote:index' %}">Приватные записки</a></li>
</ul>
<p>Все утилиты бесплатны и доступны любому желающему их проэксперементировать.<br>
Убедительная просьба, не использовать сайт в коммерческих целях.</p>
</div>
{% endblock %}
