{% extends 'base.html' %}
{% load qr_code %}

{% block title %}Сократить ссылку до минимального уровня{% endblock %}
{% block title_ %}Сократить ссылку до минимального уровня{% endblock %}

{% block description %}Сервис предоставляет услугу сокращения ваших ссылок, с участием нашего домена.{% endblock %}
{% block description_ %}Сервис предоставляет услугу сокращения ваших ссылок, с участием нашего домена.{% endblock %}

{% block keywords %}сохратить ссылку,сокращение ссылок{% endblock %}

{% block form %}
<form class="main-form" method="POST" action="">
  <div class="title">Сократить ссылку</div>
  {% if url %}
  <span style="display: flex;justify-content: center; align-items: flex-end; color: white;padding-bottom: 20px;"><a href="{{ url }}">{{ url }}</a></span>
  <center>{% qr_from_text url size="T" %}</center>
  {% endif %}<br>
  {% csrf_token %}
  {{form.url}}
  <br>
    <input type="submit" value="Сократить">
</form>
{% endblock %}
