{% extends 'base.html' %}
{% load static %}
{% load qr_code %}

{% block title %}Бесплатный файлообменник{% endblock %}
{% block title_ %}Бесплатный файлообменник{% endblock %}

{% block description %}На нашем сайте, вы можете бесплатно загружать и делиться файлами со всем миром.{% endblock %}
{% block description_ %}На нашем сайте, вы можете бесплатно загружать и делиться файлами со всем миром.{% endblock %}

{% block keywords %}файлообменник, бесплатный хостинг файлов{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/filesharing/upload.css' %}">
{% endblock %}

{% block form %}
<form action="{% url 'filesharing:index' %}" method="POST" enctype="multipart/form-data" name="uploadFile" class="main-form vtcenter">
  {%csrf_token%}
  <div class="title">Файлообменник</div>
  {{form.file}}
  {{form.description}}
  <div class="passwords">
    {{form.password_for_delete}}{{form.password_for_download}}
  </div>
  <div class="timelifeandpush">
  <select id="id_time_delete" name="time_delete">
    <option value="3">Время жизни файла</option>
    {% for option in form.time_delete %}{{option}}{% endfor %}
  </select>
  <input type="submit" value="Загрузить">
  </div>
  {% if file_url %}<div class="link-to-file"><span class='link-to-file'>Файл загружен и доступен по <a href='{{file_url}}'>ссылке</a></span>{% qr_from_text file_url size="T" %}</div>{% endif %}
  {{form.errors}}
</form>
{% endblock %}

{% block js %}<script src="{% static 'js/filesharing/upload.js' %}"></script>{% endblock %}
